.note-stuck-section {
  position: relative;
  // height: 0.9rem;
  height: 0rem;
  width: 100%;
  background-color: rgb(184 166 134);
  // -webkit-box-shadow: 0px 4px 8px 12px rgba(0, 0, 0, 0.25);
  // -moz-box-shadow: 0px 4px 8px 12px rgba(0, 0, 0, 0.25);
  // box-shadow: 0px 4px 8px 12px rgba(0, 0, 0, 0.25);

  -webkit-box-shadow: 0px 4px 12px 30px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 12px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 12px 30px rgba(0, 0, 0, 0.25);
}


.note-top-section {
  display: flex;
  justify-content: space-between;

  .star-container {
    margin:4px;
    color: gold;
    
    mat-icon {
      // border: solid 2px red;
      border-radius: 255px; 
      background: red;
    }
  }

  .menu-container {
    position: relative;
    margin-top: 4px;
    right: 0;
    display: flex;
    justify-content: end;
    z-index: 10;
    
    .menu-btn {
      background: no-repeat;
      border: none;
    padding: 0;
    cursor: pointer;
    color: #252525;
  }
}
}

.note-container {
  position: relative;
  height: 100%;
  // padding: 2rem 1rem;
  padding: 1.2rem 1rem 0;
  height: calc(100% - 4.4rem);
  overflow-y: auto;
  p {
    margin: 0;
    padding: 0;
    white-space: pre-line;
  }
  .title {
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .content {
    font-weight: 400;
    font-size: 1rem;
  }
}
