:host {
  height: 4rem;

}
.header-container {
  border: solid 1px white;
  padding: 0rem 0.8rem;
  
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.search-container {

  input {

    position: relative;
  }
}

.create-new-container {

  button {

    color: white;
  }
}