:host {
  height: 4rem;

}
.header-container {
  // border: solid 1px white;
  background: wheat;
  padding: 0rem 0.8rem;
  
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.search-container {

  input {

    position: relative;
  }
}

.create-new-container {

  button {

    color: white;
  }
}


.search-field {
  width: 20rem;
  position: relative;
  // border: solid;
  margin-top: 0.7rem;
}